/* fonts */
@font-face {
    font-family: "KirangHaerang";
    src: url('KirangHaerang-Regular.ttf');
}

/* mobile first */

body{
    font-family: sans-serif;
    min-height: 100vh;
    height: 0; 
    display: flex;
    flex-direction: column;
}

#content-wrapper{
    flex-grow: 1;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left:16px;
    padding-right:16px;
}

#content-wrapper header{
    text-align: center;
    font-family: "KirangHaerang";
    font-size: 2rem;
}

#content-wrapper header p{
    color:#666;
}

#content-wrapper main{
    width:100%;
}

#logo{
    width:100%;
}

#medias-nav{
    margin-top:32px;
}

#medias-nav li:not(:first-child){
    margin-top:1rem;
}


#medias-nav a{
    display:flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80px;
    border:1px solid #000;
    border-radius: 20px;
    box-sizing: border-box;
}

#medias-nav a:hover,
#medias-nav a:focus-visible{
    border-width:3px;
    background-color: #f5f5f5;
}

.media-logo{
    height:24px;
}

/* footer */
#main-footer{
    padding:1.5rem;
    background-color:#eee;
    display: flex;
    justify-content: center;
    font-size: .75rem;
}

#main-footer > *:not(:last-child)::after{
    content:' ';
    margin-right: .75rem;
}

#main-footer a{
    color:#000;
    font-weight: 600;
    text-decoration: none;
}

#main-footer a:hover{
    text-decoration: underline;
}

/* desktop and other devices */

@media (min-width: 640px) {
    #content-wrapper{
        padding-bottom: 200px;
    }

    #logo{
        width:400px;
    }

    #medias-nav{
        display:flex;
        justify-content: center;
    }
    
    #medias-nav li{
        width:200px;
    }

    #medias-nav li:not(:first-child){
        margin-top: 0px;
        margin-left:1.5rem;
    }
}